<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let todo of todos | async">
        <div ngClass="item-container" [class.item-completed]="todo.isCompleted">
            <mat-icon aria-hidden="false" aria-label="Watch">watch_later</mat-icon>
            <div ngClass="item-content">
                <span>{{todo.id}}</span>
                <span>{{todo.taskDescription}}</span>
            </div>
            <button mat-button title="Edit" (click)="editTodo(todo.id)">
                <mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon>
            </button>
            <a href="#" title="Delete" (click)="deleteTodo(todo.id)">
                <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
            </a>
        </div>
    </mat-list-item>
</mat-list>